@charset "UTF-8";
/* header */
header {
    display: flex;
}
header h1 {
    margin: 25px 0 0 20px;
}
header nav {
    margin: 0 0 0 auto;
}
header nav ul {
    list-style-type: none;
    margin: 20px 0;
    padding: 0;
    display: flex;
}
header nav ul li a,
header nav ul li a:link,
header nav ul li a:visited {
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    color: #000;
}
header nav ul li a:hover {
    color: #888;
}


.container {
    display: flex;
}


main {
    padding:10px;
    background: #f8f8f8;
}

table {
    border-collapse: collapse;
}

th {
    padding: 10px;
    text-align: left;
}

td {
    padding: 10px;
}

table tr:nth-child(odd) {
    background: #e0e0e0;
}
